@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Lato", system-ui, Avenir, Helvetica, Arial;
  line-height: 1.6;
  font-size: 14px;
}

h2 {
  font-size: 1.2rem;
  color: black;
}

li {
  list-style-type: none;
}
