@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
}

/* styles.css */
.border-custom {
  @apply border border-gray-400 rounded-sm;
}
