@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Consolas, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.6;
}

p {
}

h2 {
  font-size: 1.2rem;
  color: black;
}

@keyframes pulse {
  0%,
  100% {
    background-color: #4c51bf; /* bg-indigo-700 */
    color: white;
  }
  50% {
    color: black;
    background-color: #ffffff; /* bg-white */
  }
}

.btn-pulse {
  @apply text-black  rounded-sm transition  ease-in-out;
}

.btn-pulse:hover {
  animation: pulse 1s infinite;
}
